In [6]:
import pandas as pd

# Charger le csv
df = pd.read_csv("../Vessel-Total-Clean-Final.csv")

# Convertir la colonne date en datetime
df['base_date_time'] = pd.to_datetime(df['base_date_time'])

# Trier par mmsi + date (si plusieurs navires)
df = df.sort_values(['mmsi', 'base_date_time'])

print(df.head)

<bound method NDFrame.head of               id       mmsi      base_date_time       lat       lon  sog  \
73379    9067786  205776000 2023-05-25 00:07:27  25.95847 -97.37876  0.0
73577    9094320  205776000 2023-05-25 00:13:27  25.95846 -97.37880  0.0
73699    9113012  205776000 2023-05-25 00:16:27  25.95847 -97.37880  0.0
77589    9625845  205776000 2023-05-25 00:31:27  25.95848 -97.37879  0.0
74805    9261545  205776000 2023-05-25 00:34:27  25.95846 -97.37882  0.0
...          ...        ...                 ...       ...       ...  ...
234062  34268862  636091186 2023-05-31 23:45:16  28.67727 -94.78561  0.0
234177  34288610  636091186 2023-05-31 23:48:16  28.67729 -94.78562  0.0
234273  34305884  636091186 2023-05-31 23:51:16  28.67728 -94.78553  0.0
234358  34319429  636091186 2023-05-31 23:54:16  28.67735 -94.78555  0.0
234460  34335926  636091186 2023-05-31 23:57:16  28.67738 -94.78556  0.0

          cog  heading   vessel_name         imo call_sign  vessel_type  \
73379    77.2      249       LA LUNA  IMO9846079      ONKC           70
73577    77.2      249       LA LUNA  IMO9846079      ONKC           70
73699    77.2      249       LA LUNA  IMO9846079      ONKC           70
77589    77.2      249       LA LUNA  IMO9846079      ONKC           70
74805    77.2      249       LA LUNA  IMO9846079      ONKC           70
...       ...      ...           ...         ...       ...          ...
234062  161.4      105  HAMBURG STAR  IMO9298325     A8KJ3           80
234177  161.4      104  HAMBURG STAR  IMO9298325     A8KJ3           80
234273  161.4      104  HAMBURG STAR  IMO9298325     A8KJ3           80
234358  161.4      107  HAMBURG STAR  IMO9298325     A8KJ3           80
234460  161.4      107  HAMBURG STAR  IMO9298325     A8KJ3           80

        status  length  width  draft  cargo transceiver_class
73379        5   200.0   32.0   11.8     70                 A
73577        5   200.0   32.0   11.8     70                 A
73699        5   200.0   32.0   11.8     70                 A
77589        5   200.0   32.0   11.8     70                 A
74805        5   200.0   32.0   11.8     70                 A
...        ...     ...    ...    ...    ...               ...
234062       1   228.0   32.0   14.4     80                 A
234177       1   228.0   32.0   14.4     80                 A
234273       1   228.0   32.0   14.4     80                 A
234358       1   228.0   32.0   14.4     80                 A
234460       1   228.0   32.0   14.4     80                 A

[239426 rows x 18 columns]>

In [9]:
# Décaler de 5 lignes pour créer la cible à +5 min
df['lat_5min_ahead'] = df.groupby('mmsi')['lat'].shift(-5)
df['lon_5min_ahead'] = df.groupby('mmsi')['lon'].shift(-5)

print(df['lat_5min_ahead'].head)

<bound method NDFrame.head of 73379     25.95848
73577     25.95846
73699     25.95849
77589     25.95846
74805     25.95842
            ...
234062         NaN
234177         NaN
234273         NaN
234358         NaN
234460         NaN
Name: lat_5min_ahead, Length: 239426, dtype: float64>